
/*for testing*/
* {
  /*border: 1px dotted green;*/
}

/*index header css*/
.twf-header {
  margin-bottom: 30px;
}
.header-title {
  margin: 30px 0;
}

/*stats css*/
.stats-btn {
  padding: 30px 20px !important;
}
.stats-chart-view {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 400px;
}

/*/trivia/play css*/
.play-trivia-view {
  padding: 20px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.play-trivia-button {
  font-size: 36px;
  padding: 24px 0;
}
.play-trivia-row {
  margin: 15px 0;
}
.play-trivia-question-banner {
  padding: 10px 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #f5f5f5;
}
.play-trivia-question-txt {
  height: 80px;
  font-size: 18px;
  line-height: 150%;
  color: #337ab7;
}
.play-trivia-answer-text, .play-trivia-answer-input {
  letter-spacing: 1px;
  font-size: 18px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

/*/signin and /signout css*/
.signin-margin, .signup-margin {
  margin: 5px 0;
}


.endgame-row {
  margin: 60px 0;
}

/*profile css*/
.profile-user-info {
  padding-left: 30px;
  font-size: 14px;
}
.profile-user-header {
  margin-top: 10px;
}
.profile-user-table {
  font-size: 16px;
}


/*utility css*/
.pointer {
  cursor: pointer;
}




