<style type="text/css">
  /*div {
    border: 1px dotted red;
  }*/
</style>

<div ng-controller="ProfileController" id='profile-view'>

  <div class="profile-info-wrapper">

    <div class="row profile-name">
      <div class="col-md-1 col-md-offset-4">Name</div>
      <div class="col-md-3">{{user.name}}</div>
    </div>

    <div class="row profile-username">
      <div class="col-md-1 col-md-offset-4">Username</div>
      <div class="col-md-3">{{user.username}}</div>
    </div>

    <div class="row profile-email">
      <div class="col-md-1 col-md-offset-4">Email</div>
      <div class="col-md-3">{{user.email}}</div>
    </div>

    <div class="row profile-level">
      <div class="col-md-1 col-md-offset-4">Level</div>
      <div class="col-md-3">{{user.level}}</div>
    </div>

  </div>


</div>
