<div class="text-center" ng-controller="ProfileController">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well well-sm">

        <div class="row">
          <!-- Profile image -->
          <div class="col-md-4">
            <img src="/assets/warlord.jpg" alt="" class="img-rounded img-responsive"/>
          </div>

          <!-- User info -->
          <div class="profile-user-info col-md-8 text-left">
            <h2>{{user.username}}</h2>
            <i class="glyphicon glyphicon-globe"></i><span class="lead"> Global level: {{user.userLevel}}</span>
            <br>
            <br>

            <div class="row">
              <div class="col-md-11">

                <table class="table table-striped">
                  <tr>
                    <td class="col-md-8">
                      Total XP:
                    </td>
                    <td>
                      {{user.totalXp}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Games Played:
                    </td>
                    <td>
                      {{user.gamesPlayed}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Best Game Score:
                    </td>
                    <td>
                      {{user.bestGameScore}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Total Questions Answered:
                    </td>
                    <td>
                      {{user.questionsAnswered}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Total Correct Answers:
                    </td>
                    <td>
                      {{user.questionsAnsweredCorrect}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Best Correct Streak:
                    </td>
                    <td>
                      {{user.bestCorrectStreak}}
                    </td>
                  </tr>
                </table>

                <br>

                <h4 class="text-left">Last Game Played:</h4>
                <table class="table table-striped">
                  <tr>
                    <td class="col-md-8">
                      Score:
                    </td>
                    <td>
                      {{user.mostRecentGame.gameScore}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      XP Earned:
                    </td>
                    <td>
                      {{user.mostRecentGame.xpEarned}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Time Completed:
                    </td>
                    <td>
                      {{user.mostRecentGame.gameTime}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Questions Answered:
                    </td>
                    <td>
                      {{user.mostRecentGame.questionsAnswered}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Correct Answers:
                    </td>
                    <td>
                      {{user.mostRecentGame.questionsAnsweredCorrect}}
                    </td>
                  </tr>
                </table>

              </div>
            </div>

          </div>

        </div>
    </div>

  </div>
</div>
