<div ng-controller="UserController">
  <div class="row">

    <!-- wrapper column for signup -->
    <div class="col-md-8 col-md-offset-2">
      <div>
        <h3>Sign Up</h3>
      </div>
      <!-- name or email input -->
      <div class="row">
        <div class="col-md-4 signup-margin">
          <input type="text"
            class="form-control input-md"
            required class="text"
            placeholder="Username"
            ng-model="user.username"/>
        </div>
      </div>
      <!-- password input -->
      <div class="row">
        <div class="col-md-4 signup-margin">
          <input type="password"
            class="form-control input-md"
            required class="text"
            placeholder="Password"
            ng-model="user.password"/>
        </div>
      </div>
      <!-- confirm password input -->
      <div class="row">
        <div class="col-md-4 signup-margin">
          <input type="password"
            class="form-control input-md"
            required class="text"
            placeholder="Confirm Password"/>
        </div>
      </div>
      <!-- signin button -->
      <div class="row">
        <div class="col-md-4 signup-margin">
          <input type="submit"
            class="btn btn-primary"
            value="Submit"
            ng-click="signup()"/>
        </div>
      </div>
      <!-- new account option -->
      <br>
      <div class="row">
        <div class="col-md-4">
          Already have an account?
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="/#/signin">Sign In</a>
        </div>
      </div>
    </div>

  </div>
</div>
