<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../styles/login.css" />
<div class="form" ng-controller="UserController">
  <div class="header">
    <h2>Sign Up</h2>
  </div>
  <div class="login">
    <form action="">
      <ul>
        <li>
          <span class="un"><i class="fa fa-user"></i></span><input type="text" required class="text" placeholder="User Name Or Email" ng-model="user.username"/>
        </li>
        <li>
          <span class="un"><i class="fa fa-lock"></i></span><input type="password" required class="text" placeholder="User Password" ng-model="user.password"/>
        </li>
        <li>
          <span class="un"><i class="fa fa-lock"></i></span><input type="password" required class="text" placeholder="Confirm Password"/>
        </li>
        <li>
          <input type="submit" value="SIGN UP" ng-click="signup()"class="btn">
        </li>
      </ul>
    </form>
  </div>
  <br/>
  <div class="sign">
    <div class="need">Already have an account ?</div>
    <div class="up"><a href="/#/signin">Sign in</a></div>
  </div>
</div>
