<!-- stats view html here -->

<div ng-controller="StatsController">

  <div class="stats-info-wrapper">

    <div class="row stats-info">

      <!-- the stats menu -->
      <div class="stats-btns-col col-md-2 col-md-offset-2">

        <!-- this will be a subnav for the different stats windows -->
        <div class="stats-btns btn-group-vertical btn-group-lg" role="group" aria-label="stats-nav">
          <a class="stats-btn btn btn-default" ui-sref=".global">Global Rank</a>
          <a class="stats-btn btn btn-default" ui-sref=".personal">Personal Stats</a>
        </div>

      </div>

      <!-- stats window -->
      <div class="col-md-6">
        <div class="stats-chart-view text-center well">
          <!-- the nested view for the stats -->
          <div ui-view></div>
        </div>
      </div>

    </div>

  </div>


</div>
