<!-- stats view html here -->

<div ng-controller="StatsController" id='stats-view'>

  <div class="stats-info-wrapper">

    <div class="row stats-info">

      <!-- the stats menu -->
      <div class="stats-btns-col col-md-2 col-md-offset-2">

        <div class="stats-btns btn-group-vertical btn-group-lg" role="group" aria-label="stats-nav">
          <button type="button" class="stats-btn btn btn-default">Global Rank</button>
          <button type="button" class="stats-btn btn btn-default">Group Rank</button>
          <button type="button" class="stats-btn btn btn-default">Personal Stats</button>
        </div>

      </div>

      <!-- stats window -->
      <div class="col-md-6">
        <!-- d3 stuff will go here -->
        <div class=" stats-chart-view text-center">
          <h2>D3 will go here</h2>
        </div>
      </div>

    </div>

  </div>


</div>
