<div class="q" ng-repeat="q in questions">
  <div class="play-trivia-view col-md-6 col-md-offset-3"
    ng-show="$index===navLoc">

    <div class="col-md-12 text-left">
      <div class="row play-trivia-row text-muted">
        <!-- timer -->
        <div class="col-md-6 text-center text-muted" ng-bind="counter">
        </div>
        <div class="col-md-6 text-center text-muted">
          <h4>Score: {{score}}</h4>
        </div>
        <!-- <div class="col-md-4 text-right text-muted">
          Lives: {{lives}}
        </div> -->
      </div>

      <div class="row play-trivia-question-banner play-trivia-row">
        <div class="col-md-10 col-md-offset-1">

          <div class="row play-trivia-row">
            <div class="col-md-12 text-muted">
              Category: {{q.category.title}}
            </div>
          </div>

          <div class="row play-trivia-row">
            <div class="col-md-12">
              <span class="play-trivia-question-txt">{{q.question}}</span>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row play-trivia-row">
            <input type='text'
              class="form-control input-lg play-trivia-answer-input"
              placeholder="{{q.clue}}"
              ng-keypress="checkAnswer($event, q)"
              autofocus>
            </input>
          </div>
        </div>
      </div>
      
      <!-- <div class="text-center">
        <a class="btn btn-default" ui-sref=".endgame" ng-init="clicked=false"
          ng-click="clicked=true" ng-show="clicked===false"> End game
        </a>
        <div ng-show="clicked===true" ui-view></div>
      </div>
    </div> -->

  </div>
</div>
