<div class="q" ng-repeat="q in questions">
  <div class="play-trivia-view col-md-6 col-md-offset-3 well"
    ng-show="$index===navLoc">

    <div class="col-md-12 text-left">
      <div class="row play-trivia-row">
        <div class="col-md-6">
          <h4>Time left: {{counter}}</h4>
        </div>
        <div class="col-md-6 text-right">
          <h4>Score: {{score}}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Category: {{q.category.title}}
              </h3>
            </div>
            <div class="panel-body">
              <h4 class="play-trivia-question-txt">
                {{q.question}}
              </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row play-trivia-row">
        <div class="col-md-8 col-md-offset-2">
          <input type='text'
            class="form-control input-lg play-trivia-answer-input"
            placeholder="{{q.clue}}"
            ng-keypress="checkAnswer($event, q)"
            autofocus>
          </input>
        </div>
      </div>

  </div>
</div>
