<div class="text-center" ng-controller="TriviaCtrl" id="views/trivia.html">
  <div>
    Question {{1}} of {{5}}
  </div>
  <div class="row biggerHeight vertical-align">
    <div class="col-xs-8 col-xs-offset-2">
      {{Question goes here}}</div>
  </div>

  <div class="row smallerHeight autoMargin">
    <div class="col-sm-6 ">
      <div ng-class="elementInfo.answerClass[0]" ng-click="validateAnswer(0)">
        {{1st answer}}</div>
    </div>
    <div class="col-sm-6 ">
      <div ng-class="" ng-click="validateAnswer(1)">
        {{2nd answer}}</div>
    </div>
    <div class="col-sm-6 ">
      <div ng-class="" ng-click="validateAnswer(2)">
        {{3rd answer}}</div>
    </div>
    <div class="col-sm-6 ">
      <div ng-class="" ng-click="validateAnswer(3)">
        {{4th answer}}</div>
    </div>
  </div>

  <div class="row timer" ng-show="showTimer">
    {{Timer}}
  </div>
  <div id="timerProgress"></div>
  <div class="col-sm-6 col-sm-offset-3">
    Score: {{currentScore}}
  </div>
</div>