<div ng-controller="TriviaController">
  <div class="play-trivia-view col-md-6 col-md-offset-3">

    <div class="col-md-12 text-left">
      <div class="row play-trivia-row">
        <!-- timer -->
        <!-- <div class="col-md-4 text-muted" ng-bind="counter"> -->
        <div class="col-md-12 text-center">
          <h1>Your final score is {{finalScore}}</h1>
        </div>
      </div>

      <div class="row play-trivia-question-banner play-trivia-row">
        <div class="col-md-10 col-md-offset-1"

          <div class="row endgame-row">
            <div class="col-md-12">
              <div class="text-center">
                <a class="btn btn-default text-center" ui-sref="trivia.play" ui-sref-opts="{reload: true}" ng-init="clicked=false"
                  ng-click="clicked=!clicked" ng-show="clicked===false">
                  <h7>Will you try again?</h7>
                </a>
                <div ng-show="clicked===true" ui-view></div>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>