
<!-- view for the playing the game! -->
<div class="play-trivia-view col-md-6 col-md-offset-3" ng-repeat="q in questions">

  <div class="col-md-12 text-left">

    <div class="row play-trivia-row">
      <div class="col-md-4 text-muted">
        Timeleft: {{}}
      </div>
      <div class="col-md-4 col-md-offset-4 text-right text-muted">
        Lives: {{}}
      </div>
    </div>


    <div class="row play-trivia-question-banner play-trivia-row">
      <div class="col-md-10 col-md-offset-1">

        <div class="row play-trivia-row">
          <div class="col-md-12 text-muted">
            Category: {{}}
          </div>
        </div>

        <div class="row play-trivia-row">
          <div class="col-md-12">
            <span class="play-trivia-question-txt">{{q.question}}</span>
          </div>
        </div>

      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="row">
          <div class="play-trivia-answer-text col-md-12">
            {{questions[0].answer}}
          </div>
        </div>

      </div>
    </div> -->

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="row play-trivia-row">
          <input type='text'
            class="form-control input-lg play-trivia-answer-input"
            placeholder="{{q.clue}}" autofocus>
          </input>
        </div>

      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="row">
          <div class="play-trivia-answer-text col-md-12">
            {{questions[0].clue}}
          </div>
        </div>

      </div>
    </div> -->

    <div class="row play-trivia-row">
      <div class="col-md-4 col-md-offset-8 text-right text-muted" ng-click="">
        next -->
      </div>
    </div>

  </div>

</div>
